{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

{% unless product.empty? %}
  <div class="product__photos product__photos-{{ section_id }} product__photos--{{ thumbnail_position }}">

    <div class="product__main-photos" data-aos>
      <div id="ProductPhotos-{{ section_id }}">
        {% for media in product.media %}
          {%- assign is_featured = false -%}
          {% if featured_image == media %}
            {%- assign is_featured = true -%}
          {% endif %}
          <div class="{% if forloop.first %}starting-slide{% else %}secondary-slide{% endif %}" data-index="{{ forloop.index0 }}">
            <div class="product-image-main product-image-main--{{ section_id }}">
              
               {% case media.media_type %}
               {% when 'image' %} 
              <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: media.aspect_ratio }}%;">
                <div class="photo-zoom-link {% if settings.product_zoom_enable %}photo-zoom-link--enable{% endif %}" data-zoom-size="{{ media | img_url: product_zoom_size }}">
                  {%- assign img_url = media | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  {% if is_featured %}
                    <img class="photo-zoom-link__initial lazyload"
                        data-src="{{ img_url }}"
                        data-widths="[360, 540, 720, 900, 1080]"
                        data-aspectratio="{{ media.aspect_ratio }}"
                        data-sizes="auto"
                        alt="{{ media.alt | escape }}">
                    <noscript>
                      <img class="photo-zoom-link__initial lazyloaded" src="{{ media | img_url: product_image_size }}" alt="{{ media.alt | escape }}">
                    </noscript>
                  {% else %}
                    <img class="lazyload"
                        data-src="{{ img_url }}"
                        data-widths="[360, 540, 720, 900, 1080]"
                        data-aspectratio="{{ media.aspect_ratio }}"
                        data-sizes="auto"
                        alt="{{ media.alt | escape }}">
                    <noscript>
                      <img class="lazyloaded" src="{{ media | img_url: product_image_size }}" alt="{{ media.alt | escape }}">
                    </noscript>
                  {% endif %}
                </div>
              </div>
              {% when 'video' %}
              {%- assign aspect_width = settings.product_video_width | divided_by: 100.00 -%}
              {%- assign aspect_ratio = settings.product_video_height | divided_by: aspect_width -%}
                  {%  for source in media.sources %}
                    {% case source.format %}
                    {% when 'mp4' %} 
                      {% assign sourceFormat = source.format %}
                      {% assign sourceUrl = source.url %}
                     {% endcase %}
                  {% endfor %}
              <div
                  data-video-type="{{ sourceFormat }}"
                  class="product__video-wrapper"
                  data-video-style="{{ settings.product_video_style }}"
                  style="padding-bottom: {{ aspect_ratio }}%;">
                     <video
                      loop playsinline
                      {% if settings.product_video_style == 'muted' %}muted{% endif %}
                      {% if settings.product_video_style == 'unmuted' %}controls{% endif %}
                      controlsList="nodownload"
                      data-image-count="{{product.images | size }}"
                      data-video-type="{{ sourceFormat }}"
                      data-video-style="{{ settings.product_video_style }}"
                      {% if isModal %}
                        data-video-src="{{ sourceUrl }}"
                      {% endif %}
                      id="ProductVideo-{{ section_id }}-{{ forloop.index }}"
                      class="product__video">
                      {% unless isModal %}
                        <source src="{{ sourceUrl }}" type="video/mp4">
                      {% endunless %}
                      Your browser does not support the video tag.
                    </video>
              </div>
               {% endcase %}
              
              
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    
    
    
        <div
      id="ProductThumbs-{{ section_id }}"
      class="product__thumbs product__thumbs--{{ thumbnail_position }} {% if product.media.size == 1 %} medium-up--hide{% endif %} small--hide"
      data-position="{{ thumbnail_position }}"
      data-aos>

      {% if product.media.size > 1 %}
        {% for media in product.media %}
          <div class="product__thumb-item"
            data-index="{{ forloop.index0 }}">
            <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: media.aspect_ratio }}%;">
              <div
                class="product__thumb product__thumb-{{ section_id }} js-no-transition"
                data-id="{{ media.id }}"
                {% if settings.product_zoom_enable %}data-zoom="{{ media.src | img_url: product_zoom_size }}"{% endif %}
                >
                {%- assign media_url = media | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <img class="animation-delay-{{ forloop.index | times: 3 }} lazyload"
                    data-src="{{ media_url }}"
                    data-widths="[360, 540, 720, 900, 1080]"
                    data-aspectratio="{{ media.aspect_ratio }}"
                    data-sizes="auto"
                    alt="{{ media.alt | escape }}">
                <noscript>
                  <img class="lazyloaded" src="{{ media | img_url: product_thumb_size }}" alt="{{ media.alt | escape }}">
                </noscript>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    
    
    
    
  </div>
{% else %}
  <div class="product__photos product__photos-{{ section_id }}">
    <div class="product__main-photos" style="width: 100%">
      <div id="ProductPhotos-{{ section_id }}">
        <div data-index="{{ forloop.index0 }}">
          <a href="#">
            {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
          </a>
        </div>
      </div>
    </div>
  </div>
{% endunless %}
